<template>
  <div>
    <b-modal centered id="formAdd" ref="modal" :title="title" @ok="handleOk">
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group
          :state="validationCompanyName"
          label="ชื่อบริษัท"
          label-for="companyName-input"
          :invalid-feedback="invalidFeedbackCompanyName"
        >
          <b-form-input
            id="companyName-input"
            v-model="formAdd.companyName"
            :state="formAdd.companyNameState"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group
          :state="formAdd.requirePositionState"
          label="คุณสมบัติที่ต้องการ"
          label-for="requirePosition-input"
          invalid-feedback="กรุณากรอกคุณสมบัติที่ต้องการ"
        >
          <b-form-input
            id="requirePosition-input"
            v-model="formAdd.requirePosition"
            :state="formAdd.requirePositionState"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group
          :state="formAdd.getAmountState"
          label="จำนวนที่รับ"
          label-for="getAmount-input"
          invalid-feedback="กรุณากรอกจำนวนที่รับ"
        >
          <b-form-input
            type="number"
            id="getAmount-input"
            v-model="formAdd.getAmount"
            :state="formAdd.getAmountState"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group
          :state="formAdd.skillState"
          label="ทักษะความสามารถ"
          label-for="skill-input"
          invalid-feedback="กรุณากรอกทักษะความสามารถ"
        >
          <b-form-input
            id="skill-input"
            v-model="formAdd.skill"
            :state="formAdd.skillState"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group
          :state="formAdd.dayWorkState"
          type="number"
          label="จำนวนวันที่ทำงาน"
          label-for="dayWork-input"
          invalid-feedback="กรุณากรอกทักษะความสามารถ"
        >
          <b-form-input
            id="dayWork-input"
            v-model="formAdd.dayWork"
            :state="formAdd.dayWorkState"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group
          :state="formAdd.serviceState"
          label="บริการต่างๆ"
          label-for="dayWork-input"
          invalid-feedback="กรุณากรอกทักษะความสามารถ"
        >
          <b-form-input
            id="service-input"
            v-model="formAdd.service"
            :state="formAdd.serviceState"
            required
          ></b-form-input>
        </b-form-group>
      </form>
      <!-- <b-card class="mt-3" header="Form Data Result">
        <pre class="m-0">{{ formAdd }}</pre>
      </b-card> -->
    </b-modal>
    <div class="shadows mt-3 bg-light">
      <h1 class="title-header p-3">จัดการข้อมูลบริษัท</h1>
      <font-awesome-icon
        @click="addCompany()"
        prefix="far"
        class="float-right mr-5 mb-3"
        style="color:#2ACD72;width:45px;height:45px;cursor:pointer"
        :icon="faPlusCircle"
      />
      <div class="container pb-2">
        <b-table
          hover
          :items="companyList"
          :fields="fields"
          :thead-class="'thead-green'"
          :table-class="'tbody-white'"
        >
          <template v-slot:cell(operation)="data">
            <font-awesome-icon
              @click="editCompany(data.item)"
              prefix="far"
              class=" ml-1"
              style="color:black;width:35px;height:35px;cursor:pointer"
              :icon="faEdit"
            />
            <font-awesome-icon
              @click="delCompany(data.item)"
              prefix="far"
              class="mr-1"
              style="color:black;width:35px;height:35px;cursor:pointer"
              :icon="faTrash"
            />
          </template>
        </b-table>
      </div>
    </div>
  </div>
</template>

<script>
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'
import {
  faPlusCircle,
  faEdit,
  faTrash
} from '@fortawesome/free-solid-svg-icons'
import styles from './mystyle.css'

export default {
  components: {
    FontAwesomeIcon
  },
  data () {
    return {
      styles,
      faPlusCircle,
      faEdit,
      faTrash,
      title: '',
      companyList: [
        {
          ID: '1',
          companyName: 'Click Next',
          requirePosition: 'Developer',
          getAmount: '2',
          skill: 'Java',
          dayWork: '5',
          service: '300'
        },
        {
          ID: '2',
          companyName: 'Click Back',
          requirePosition: 'Full Stack',
          getAmount: '2',
          skill: 'Java',
          dayWork: '3',
          service: '13000'
        },
        {
          ID: '3',
          companyName: 'Press Next',
          requirePosition: 'Testing',
          getAmount: '2',
          skill: 'Java',
          dayWork: '6',
          service: '200'
        },
        {
          ID: '4',
          companyName: 'Press Back',
          requirePosition: 'Bartender',
          getAmount: '2',
          skill: 'Chong cha',
          dayWork: '5',
          service: '8000'
        }
      ],
      lastId: 5,
      fields: [
        {
          key: 'ID',
          label: 'ลำดับ',
          class: 'text-center'
        },
        {
          key: 'companyName',
          label: 'ชื่อบริษัท'
        },
        {
          key: 'requirePosition',
          label: 'คุณสมบัติที่ต้องการ',
          class: 'text-center'
        },
        {
          key: 'getAmount',
          label: 'จำนวนที่รับ',
          class: 'text-center'
        },
        {
          key: 'skill',
          label: 'ทักษะความสามารถ',
          class: 'text-center'
        },
        {
          key: 'dayWork',
          label: 'จำนวนวันที่ทำงาน',
          class: 'text-center'
        },
        {
          key: 'service',
          label: 'บริการต่างๆ',
          class: 'text-center'
        },
        {
          key: 'operation',
          label: 'เครื่องมือ',
          class: 'text-center'
        }
      ],
      formAdd: {
        ID: '-1',
        companyName: '',
        companyNameState: '',
        requirePosition: '',
        requirePositionState: '',
        getAmount: '',
        skill: '',
        dayWork: '',
        service: ''
      }
    }
  },
  methods: {
    addCompany () {
      this.title = 'เพิ่มข้อมูลบริษัท'
      this.resetModal()
      this.$bvModal.show('formAdd')
    },
    addNewCompany () {
      this.lastId++
      this.formAdd.ID = this.lastId
      let data = { ...this.formAdd }
      this.companyList.push(data)
    },
    editCompany (company) {
      this.title = 'แก้ไขข้อมูลบริษัท'
      this.formAdd = { ...company }
      this.$bvModal.show('formAdd')
    },
    updateCompany () {
      let index = this.companyList.findIndex(data => {
        return data.ID === this.formAdd.ID
      })
      this.companyList.splice(index, 1, { ...this.formAdd })
    },
    delCompany (company) {
      this.$bvModal
        .msgBoxConfirm(
          'ต้องการลบข้อมูลบริษัท ' + company.companyName + ' ใช่หรือไม่',
          {
            title: 'ลบข้อมูลบริษัท',
            size: 'sm',
            buttonSize: 'xl',
            okVariant: 'danger',
            okTitle: 'ตกลง',
            cancelTitle: 'ยกเลิก',
            footerClass: 'p-2',
            hideHeaderClose: false,
            centered: true
          }
        )
        .then(value => {
          if (value) {
            this.deleteCompany(company)
          }
        })
    },
    deleteCompany (company) {
      let index = this.companyList.findIndex(data => {
        return data.ID === company.ID
      })
      this.companyList.splice(index, 1)
    },
    checkFormValidity () {
      const valid = this.$refs.form.checkValidity()
      // this.formAdd.companyNameState = valid
      return valid
    },
    resetModal () {
      this.formAdd.ID = -1
      this.formAdd.companyName = ''
      this.formAdd.companyNameState = null
      this.formAdd.requirePosition = ''
      this.formAdd.requirePositionState = null
      this.formAdd.getAmount = ''
      this.formAdd.getAmountState = null
      this.formAdd.skill = ''
      this.formAdd.skillState = null
      this.formAdd.dayWork = ''
      this.formAdd.dayWorkState = null
      this.formAdd.service = ''
      this.formAdd.serviceState = null
    },
    handleOk (bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.handleSubmit()
    },
    handleSubmit () {
      // Exit when the form isn't valid
      if (!this.checkFormValidity()) {
        return
      }
      if (this.formAdd.ID === -1) {
        this.addNewCompany()
      } else {
        this.updateCompany()
      }
      this.$nextTick(() => {
        this.$bvModal.hide('formAdd')
      })
      this.resetModal()
    }
  },
  computed: {
    validationCompanyName () {
      if (this.formAdd.companyName !== '') {
        return true
      }
      return false
    },
    invalidFeedbackCompanyName () {
      if (this.formAdd.companyName === '') {
        return 'ชื่อห้ามว่างนาจา'
      }
      return ''
    }
  }
}
</script>
