body{
    background:#e7e7e7
}
.thead-green{
    color: white;
    background-color: #339999;
}
.tbody-white{
    background-color: white;
}
.title-header{
    background-color: #339999;
    color: white;
}