<template>
  <div>
    <b-navbar toggleable="lg" type="light" style="background:white">
      <b-navbar-brand href="#">สหกิจ IF</b-navbar-brand>

      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

      <b-collapse id="nav-collapse" is-nav>
        <b-navbar-nav>
          <b-nav-item to="/student">หน้าหลัก</b-nav-item>
          <b-nav-item-dropdown>
            <template v-slot:button-content>ข้อมูลทั่วไป</template>
            <b-dropdown-item to="/company">บริษัท</b-dropdown-item>
            <b-dropdown-item href="#">Sign Out</b-dropdown-item>
          </b-nav-item-dropdown>
          <b-nav-item to="/student">สถานะเข้าร่วมสหกิจ</b-nav-item>
          <b-nav-item to="/HistoryMeeting">ประวัติการอบรม</b-nav-item>
          <b-nav-item to="/internship">สมัครเข้าร่วมสหกิจ</b-nav-item>
        </b-navbar-nav>

        <!-- Right aligned nav items -->
        <b-navbar-nav class="ml-auto">
          <b-nav-item-dropdown right>
            <!-- Using 'button-content' slot -->
            <template v-slot:button-content>
              <em>User</em>
            </template>
            <b-dropdown-item href="#">Profile</b-dropdown-item>
            <b-dropdown-item href="#">Sign Out</b-dropdown-item>
          </b-nav-item-dropdown>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
  </div>
</template>
