<template>
  <div >
    <Header></Header>
    <!-- <b-container fluid class="pl-0">
    <b-row>-->
    <div>
      <!-- <div style="width:250px;background:#e7e7e7;position:fixed;height:100%">
        <Menu></Menu>
      </div>-->
        <b-container container>
          <router-view></router-view>
        </b-container>
    </div>
    <!-- </b-row>
    </b-container>-->
  </div>
</template>

<script>
import Header from './Header.vue'
// import Menu from "./Menu.vue"
export default {
  components: {
    Header
  }
}
</script>
