<template>
  <div id="app" style="background:#e7e7e7">
    <MainLayout></MainLayout>
  </div>
</template>

<script>
import MainLayout from './components/MainLayout.vue'
export default {
  components: {
    MainLayout
  }
}
</script>
